<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jquery.validate/jquery.validate.css') }}"
          type="text/css"/>

</head>
<body>
  <div class="top-content">

      <div class="inner-bg">
<div class="container">
      <div class="row">
                          <div class="col-sm-6 col-sm-offset-3 form-box">
                          	<div class="form-top">
                          		<div class="form-top-left">
                          			<h3>UPCHAT</h3>
                                  <p style="color:red;">{{ error }}</p>
                          		</div>
                              </div>
                              <div class="form-bottom">
  			                    <form role="form" action="" method="post" class="login-form">
  			                    	<div class="form-group">
  			                    		<label class="sr-only" for="form-username">Username</label>
                                  <input type="text" class="form-username form-control" name="username" id="username" placeholder="Usuario">

  			                        </div>
  			                        <div class="form-group">
  			                        	<label class="sr-only" for="form-password">Password</label>
                                    <input type="password" class="form-password form-control" name="password" id="password" placeholder="Clave">

  			                        </div>
                                <h3>mady with love by Ken Kina/Helmut Cutipa</h3>
                                <button type="submit" class="btn btn-default">Login</button>
                                <button type="button" onclick="location.replace('/register')" class="btn btn-link">Register</button>
  			                    </form>
  		                    </div>
                          </div>
      </div>
    </div>
</div>
</div>

<script src='{{ url_for('static', filename='javascripts/jquery.min.js') }}'></script>
<script src='{{ url_for('static', filename='javascripts/bootstrap.min.js') }}'></script>
<script src='{{ url_for('static', filename='plugins/jquery.validate/jquery.validate.min.js') }}'></script>
<script>
    $("form").validate({
        rules: {
            username: {
                required: true
            },
            password: {
                required: true
            }
        }
    });
</script>
</body>
</html>
